@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@font-face {
font-family: 'HK Grotesk';
src: url('./style/fonts/hk-grotesk/bold/HKGrotesk-Bold.eot') format('truetype');
src: url('./style/fonts/hk-grotesk/bold/HKGrotesk-Bold.ttf') format('truetype');
font-weight: 700;
}
@font-face {
font-family: 'HK Grotesk';
src: url('./style/fonts/hk-grotesk/light/HKGrotesk-Light.eot') format('truetype');
src: url('./style/fonts/hk-grotesk/light/HKGrotesk-Light.ttf') format('truetype');
font-weight: 300;
 }
@font-face {
font-family: 'HK Grotesk';
src: url('./style/fonts/hk-grotesk/medium/HKGrotesk-Medium.eot') format('truetype');
src: url('./style/fonts/hk-grotesk/medium//HKGrotesk-Medium.ttf') format('truetype');
font-weight: 500;
}
@font-face {
font-family: 'HK Grotesk';
src: url('./style/fonts/hk-grotesk/regular/HKGrotesk-Regular.eot') format('truetype');
src: url('./style/fonts/hk-grotesk/regular/HKGrotesk-Regular.ttf') format('truetype');
font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "HK Grotesk", "Roboto", "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
